# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Compiled VDHL files
**.cf

# PDF and images files
**.pdf
**.jpeg
**.png

# Waveform files
**.ghw

# Recovery files from vim
**.swp
exemples_ghdl/.adder.vhdl.swp (link)
**.bak

# QUARTUS TRASH FILES
**.sof
**.qws
**.done
**.rpt
**.pof
**.summary
**.pin
**.qsf
**.qpf
**.bsf
**.dpf
**/db/**
**/incremental_db/**
**.pub
# new commit
#
# Quartus files
**.bdf
**.qsys
**.sopcinfo
**/.qsys_edit/**
**/software/**
BE_Barre_Franche/gestion_verin/first_try/
BE_Barre_Franche/gestion_verin_workspace/
BE_Barre_Franche/gestion_verin/output_files/